@import "../../Imports.scss";

#projects {
  font-family: "Raleway", sans-serif;
  min-height: 100vh;

  .heading {
    text-align: center;
    padding-top: 80px;

    h1 {
      font-size: 4em;
      font-weight: lighter;
      margin-bottom: 0;
    }
  }

  .projects-showcase {
    margin-top: 40px;

    .top-arrows {
      text-align: center;
      margin-bottom: 15px;
      display: none;
    }

    .right-arrow {
      color: $primary;
      cursor: pointer;
      user-select: none;
      font-size: 3.5em;
    }

    .left-arrow {
      color: $primary;
      cursor: pointer;
      user-select: none;
      font-size: 3.5em;
    }

    .slider {
      position: relative;
      display: flex;
      justify-content: center;

      .slider-images {
        display: flex;

        .project {
          width: 620px;
          text-align: center;

          p {
            text-align: left;
            padding: 0 10px;
          }

          .project-icon {
            font-size: 1.8em;
            margin: 0 3px;
          }

          h1 {
            font-size: 1.5em;
          }

          a {
            color: #000;
          }

          .technologies {
            display: flex;
            flex-wrap: wrap;
            padding: 0 10px;

            .technology {
              background: $dark;
              color: #fff;
              padding: 5px;
              border-radius: 5px;
              margin: 5px 10px 5px 0;
              font-size: 0.8em;
            }
          }
        }

        .project-2 {
          .technologies .technology {
            background: $primary;
            color: #fff;
            padding: 5px;
            border-radius: 5px;
            margin: 5px 10px 5px 0;
            font-size: 0.8em;
          }
        }

        .slider-image {
          width: 600px;
          max-height: 350px;
          border-radius: 18px;
          margin: 0 10px;
          box-shadow: 5px 5px 10px rgba(#C78282, 0.1);
        }
      }

      .right-arrow {
        position: absolute;
        top: 50%;
        right: calc(50% - 700px);
      }

      .left-arrow {
        position: absolute;
        top: 50%;
        left: calc(50% - 700px);
      }

      .slide {
        opacity: 0;
        transition-duration: 1s ease;
      }

      .slide.active {
        opacity: 1;
        transition-duration: 1s;
        // transform: scale(1.08);
      }
    }
  }
}

@media only screen and (max-width: 1425px) {
  #projects {
    .projects-showcase {
      .slider {
        .right-arrow {
          right: calc(50% - 550px);
          font-size: 3.5em;
        }

        .left-arrow {
          left: calc(50% - 550px);
          font-size: 3.5em;
        }

        .slider-images {
          .project {
            width: 470px;
          }

          .slider-image {
            width: 450px;
          }
        }
      }
    }
  }


  @media only screen and (max-width: 1130px) {
    #projects {
      .projects-showcase {
        .slider {
          .slider-images {
            flex-direction: column;
            align-items: center;

            .project {
              width: 620px;
              margin-bottom: 30px;

              p {
                text-align: center;
              }

              .technologies {
                justify-content: center;
              }
            }

            .slider-image {
              width: 600px;
            }
          }

          .right-arrow,
          .left-arrow {
            display: none;
          }
        }

        .top-arrows {
          display: block;
        }
      }
    }
  }

  @media only screen and (max-width: 780px) {
    #projects {
      .projects-showcase {
        .slider {
          .slider-images {
            .project {
              width: 80%;
              text-align: center;
            }

            .slider-image {
              width: 100%;
            }
          }
        }
      }

      .top-arrows {

        .right-arrow,
        .left-arrow {
          font-size: 2.5em;
        }
      }
    }
  }
}